@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
margin: 0%;
font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    flex-direction: column;
}
#navbar a{
    display: flex;
    text-decoration: black;
    color: black;
    flex-direction: row;
    margin: 5px;
    /*text-decoration: underline;*/
}

#links{
    display: flex;
    flex-direction: row;
}

body{
    margin: 0%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    border-radius: 7px;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: none;
    margin: none;
}
input{
    border-radius: 7px;
}

#ingresar input{
    padding: 4px 20px;
    background-color: cadetblue;

}

@media(min-width: 720px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    
}