
/* Mobile First <400px */

@media screen and (max-width: 400px)
{
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: darkblue;
    color: white;
    border: solid white 2px;
    margin: 20px;
    padding:10px;
}

body {
    background-color: darkblue;
    color:white;
    text-align: justify;
    
}

img {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

header {
        display: flex;
        flex-direction: column;
        
    }

     
a:link {
    color: white;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

footer {
    text-align: center;
}

}
/* Tablet/Desktop >400px */

@media screen and (min-width: 400px) , (orientation:landscape)

{
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
    border: solid white 2px;
    margin: 20px;
    padding:10px;
}


body {
    background-color:black;
    color:white;
    text-align: justify;
    
}

img {
    background-color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

    header {
        display: flex;
        flex-direction: column ;
        
    }

.menu {
    display: inline-flex;
}
     
a:link {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

div.articule {
    display: inline-flex;
    flex-direction: column;
}


footer {
    text-align: center;
}

}