body {
  background-image: url(./img/animal1.jpg);
  display: flex;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  align-items: center;
  width: 100%;
}

/* header------------------------------- */

header {
  display: flex;
  flex-direction: column;
}
header h1 {
  text-align: center;
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar a {
  padding: 10px;
}
/* header-------------------------------- */
/* main---------------------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulos {
  display: flex;
  align-items: center;
}

#articulo1,
#articulo2,
#articulo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#articulo1 img {
  width: 50%;
  padding-top: 10px;
}
#articulo1 p {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.subArt3,
#subArt1,
#subArt2 {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  /* padding: 10px; */
}

/* main---------------------------------- */

/* footer-------------------------------- */

/* footer-------------------------------- */

/* media Query ----------------------------- */

@media (min-width: 900px) {
  .navBar {
    display: flex;
    flex-direction: row;
  }
  .navBar a {
    width: 100px;
    color: bisque;
  }

  #articulo1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  #articulo1 p {
    text-align: justify;
    width: 450px;
  }
  #articulo1 img {
    width: 450px;
  }

  #articulo2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 900px;
  }
  #articulo3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 900px;
  }
}

/* media Query ----------------------------- */
