head{
    background-color: white;
}
body{
    text-decoration: #000;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
#imagen {
    max-width: 500px;
    float: right;
    margin: 0%;
}
img {
    max-width: 500px;
    float: right;
    margin: 0%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: brown;
}
#Texto h1{
    text-align: center;
}
#Texto {
    margin: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    width: 600px;
    text-align: center;
    border: 5px solid black;
    justify-content: center;
   
}
#Comentarios h1{
   text-align: center;
}
#Comentarios {
    border: 5px solid black;
    margin: 20px;
    font-size:italic;
    width: 600px;
    color:#000;
}
@media screen and (min-width:480px) and (max-width:899px){
    head{
        background-color: white;
    }
    body{
        background-color: greenyellow;
        text-decoration: #000;
        margin: 0%;
        font-family: 'Times New Roman', Times, serif;
    }
    header{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: whitesmoke;
    }
    #imagen {
        max-width: 500px;
        float: right;
        margin: 0%;
    }
    img {
        max-width: 500px;
        margin: 0%;
        display: block;
    }
    footer{
        display: flex;
        justify-content: center;
        background-color: brown;
    }
    #Texto h1{
        text-align: center;
    }
    #Texto {
        margin: 20px;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        width: 600px;
        text-align: center;
        border: 5px solid black;
        justify-content: center;
       
    }
    #Comentarios h1{
       text-align: center;
    }
    #Comentarios {
        border: 5px solid black;
        margin: 20px;
        font-size:italic;
        width: 600px;
        color:#000;
    }
}

@media screen and (min-width: 900px){
    head{
        background-color: white;
    }
    body{
        background-color: skyblue;
        text-decoration: #000;
        margin: 0%;
        font-family: 'Times New Roman', Times, serif;
    }
    header{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: whitesmoke;
    }
    #imagen {
        max-width: 500px;
        float: right;
        margin: 0%;
    }
    img {
        max-width: 500px;
        margin: 0%;
        display: block;
    }
    footer{
        display: flex;
        justify-content: center;
        background-color: brown;
    }
    #Texto h1{
        text-align: center;
    }
    #Texto {
        margin: 20px;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        width: 600px;
        text-align: center;
        border: 5px solid black;
        justify-content: center;   
    }
    #Comentarios h1{
       text-align: center;
    }
    #Comentarios {
        border: 5px solid black;
        margin: 20px;
        font-size:italic;
        width: 600px;
        color:#000;
    }
}
