body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
    background: radial-gradient(white,rgb(182, 214, 243));
    padding: 20px;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#banner,
#info,
#comentarios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    
}
#comentarios div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2,
#banner img {
    align-self: flex-start;

}
#comentarios div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
}
footer {
    display: flex;
    justify-content: center;
    font-size: 10px;

}
@media (min-width: 900px) {
    body {
        margin: 0;
        padding: 15px;
        font-size: 14px;
    }
    header {
        flex-direction: row;
        padding: 0 30px;
        justify-content: space-around;
        align-items: center;

    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 18px;
        max-width: 600px;
    }
    a {
        margin-left: 25px;
    }
   
    #banner,
    #comentarios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 10px 20px;
        margin-bottom: 40px;
        
    }
    #info {
        display: flex;
        margin: 10px 20px;
        margin-bottom: 40px;
    }
    #banner p {
        text-align: justify;
        margin: 0;
        max-width: 475px;
    }
    #banner img {
        align-self: center;
        width: 300px;
    }
    .sub {
        margin: 10px 20px;
        
    }
    #comentarios div {
        display: flex;
        flex-direction: column;
        
    }


    #comentarios h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 200px;
    }
    #comentarios p {
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        
    }
    #comentarios h5 {
        display: flex;
        justify-content: right;
        text-align: center;
        max-width: 200px;
    }
    footer {
        font-size: 14px;
    }

    
}

