body {
    margin: 0;
}

/*
-----------------
HEADER
-----------------
*/
header {
    display: flex;
    flex-direction: column;    
}
/*
---------------
MAIN
---------------
*/
main {
    padding: 0px;
    display: flex;
    flex-direction: column;

}
#section2 {
 display: flex;
 justify-content: space-around;
 border: 5px solid red;
}


img {
    max-width: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
}