body{
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
}
#clic {
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#gender {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: bisque;
    border-radius: 5%;
}


header{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
h1{ 
    margin:0%;
}
#nav-bar{
    margin-top: 20px;
}
nav { display: flex;
    flex-direction: column;
}
a {
    margin-bottom: 10px;
    border: 3px solid rgb(16, 47, 83);
}
a :last-of-type{
    margin-top: 0;
}


footer{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:900x){
    .escritorio {display: none;}

}
