body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding-bottom: 100px;
    background: radial-gradient(white,rgb(182, 214, 243));
    padding: 20px;
    align-items: center;
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
header h1 {
    display: flex;
    text-align: center;
    
    
}
#navbar {
    display: flex;
    align-items: center;
}
#navbar a {
    margin-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 400px;
    margin-top: 20px;
    align-items: center;
    
}
form h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}
#nombre,
#contrasena {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 5px;
 }

#nombre label,
#contrasena label {
    margin-right: 10px;
    width: 120px;
    text-align: right;
}
#recordar {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}
#submit {
    display: flex;
    justify-self: center;
    border: none;
    border-radius: 4px;
    background: radial-gradient(rgb(202, 199, 199), rgb(121, 119, 119));
    max-width: fit-content;
    padding: 3px 25px;
}

footer {
    display: flex;
    font-size: 10px;
    margin-top: 100px;
}

@media (min-width: 900px) {
    body {
        margin: 0;
        padding: 15px;
        font-size: 14px;
        max-width: 1200px;
    }
    header {
        flex-direction: row;
        padding: 0 30px;
        justify-content: space-around;
        align-items: center;

    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 18px;
        max-width: 600px;
    }
    a {
        margin-left: 25px;
    }
    header h1 {
        text-align: left;
        margin-right: 150px;
    }
    #nombre,
    #contrasena {
        padding: 10px;
    }
    #recordar {
        padding: 25px;
    }
}
