body{
    margin: 0;
}

/*      INICIO HEADER      */
header{
    padding: 20px 0;
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: dimgray;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: column;
}
/*      FIN HEADER      */

/*      INICIO MAIN      */

.art-1{
    border: 1px solid #CCCCCC;
    margin: 5px 0 5px 53px;
    
}
.art-2{
    border: 1px solid #CCCCCC;
    margin: 5px 0 5px 53px;
    
}
.art-3{
    border: 1px solid #CCCCCC;
    margin: 5px 0 5px 53px;
    
}
/*      FIN MAIN      */


/*      INICIO FOOTER      */

/*      FIN FOOTER      */

.footer-control{
    text-align: center;
    background-color: moccasin;
}